@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Inter:wght@300;400;500;600;700;800&family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.active {
    color: #EEFF25;
}

.font-inters {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}