@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Inter:wght@300;400;500;600;700;800&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:wght@300;400;500;600&family=Inter:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px;
}

.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: .3px;
}
.text-style {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    letter-spacing: .3px;
}


.active {
    color: #EEFF25;
}

.font-inters {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.button {
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    /* font-family: 'sans-serif'; */
    text-transform: uppercase;
    border-radius: 12px;
    font-weight: 550;
    border-bottom: 3px solid rgb(63, 63, 63);
    transition: 0.3s ease;
}
 
.button:hover {
    background-color: #ffc907;
    color: #ffffff;
    transition: 0.3s ease;
}
.button:active{
    transition: 0.1s ease;
    border-bottom: 0px solid rgb(255, 255, 255);
}

.featured-item {
    background-image: url('../src/assets/home/featured.jpg');
    background-position: center;
    background-color: #636363;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cover-img { 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.menu-cover {
    background-image: url('../src/assets/home/featured.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}